@import "https://fonts.googleapis.com/css2?family=Cormorant+Garamond:wght@300;400&family=Montserrat:wght@200;400;600;800&display=swap";
html {
  scroll-behavior: smooth;
}

body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  font-family: Montserrat, sans-serif;
  overflow-x: hidden;
}

div#main {
  width: 100vw;
  flex-direction: column;
  display: flex;
}

section {
  width: 100vw;
  position: relative;
}

section.min-height {
  min-height: 100vh;
}

section.padding {
  padding: 5rem 0;
}

.home-background, .about-background {
  height: 100%;
  object-fit: cover;
  pointer-events: none;
  width: 100vmax;
  z-index: -1;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%);
}

h1 {
  margin: 0;
  font-family: Cormorant Garamond, serif;
  font-size: 7rem;
  font-weight: 400;
  line-height: .8;
}

h2 {
  margin: 0;
  padding-top: 1rem;
  font-size: 2rem;
  font-weight: 400;
}

h3 {
  margin: 0;
  font-size: 1.25rem;
  font-weight: 400;
}

.card-content a, .card-content a:hover {
  color: #fff;
  text-decoration: none;
}

p {
  margin-bottom: 0;
  font-size: 18px;
  font-weight: 300;
  line-height: 1.5;
}

p.large {
  font-size: 24px;
}

p.small {
  font-size: 15px;
}

hr {
  margin: 2.5rem;
}

li {
  line-height: 1.7;
}

li::marker {
  color: #4e567e;
}

a {
  color: #000;
  text-decoration: none;
}

a:hover {
  color: #4e567e;
}

.container {
  grid-gap: 20px;
  grid-template-columns: 300px 300px 300px 300px;
  margin: 20px auto;
  display: grid;
}

.container .box {
  text-align: center;
  border: 1px solid #ccc;
  border-radius: 10px;
  flex-direction: column;
  justify-content: flex-start;
  padding: 24px 16px;
  display: flex;
}

.box:hover {
  transform: scale(1.005);
  box-shadow: 0 0 10px #0962e780;
}

img.socialIcon {
  height: 30px;
  width: 30px;
}

.slideInLeft {
  animation: slideInLeft 2s ease-out;
}

@keyframes slideInLeft {
  from {
    transform: translateX(-100%);
  }

  to {
    transform: translateX(0);
  }
}

.bounce {
  height: 3rem;
  width: 3rem;
  animation: bounce 2s infinite;
}

@keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    transform: translateY(0);
  }

  40% {
    transform: translateY(-30px);
  }

  60% {
    transform: translateY(-15px);
  }
}

.box {
  height: 150px;
  border-radius: 10px;
  transition: transform .5s;
  position: relative;
  overflow: hidden;
  box-shadow: 0 0 10px #0003;
}

.card {
  position: absolute;
  inset: 0;
  overflow: hidden;
}

.card img {
  width: 100%;
  height: 100%;
  object-fit: scale-down;
  object-position: center;
  transition: transform .5s;
}

.card-content {
  width: 100%;
  height: 100%;
  color: #fff;
  opacity: 0;
  box-sizing: border-box;
  background-color: #5988ffcc;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  font-size: 1rem;
  line-height: 1.5;
  transition: opacity .5s;
  display: flex;
  position: absolute;
  bottom: 0;
  left: 0;
}

.card:hover img {
  transform: scale(1.1);
}

.card:hover .card-content {
  opacity: 1;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: Montserrat, sans-serif;
  text-decoration: none;
  display: flex;
}

.card-content h3 {
  margin: 0 0 2px;
  text-decoration: none;
}

.card-content p {
  margin: 0;
}

#portfolio {
  padding-bottom: 0;
}

.about-container {
  width: 50%;
  text-align: center;
  background-color: #fff;
  margin: 3rem auto;
  padding: 4rem;
}

.about-container ul {
  text-align: left;
  columns: 2;
  gap: 3rem;
  margin: 2rem 3rem;
  font-size: 1.25rem;
}

.about-quote {
  padding: 1rem 3rem 0;
}

@media screen and (max-width: 600px) {
  .about-container {
    width: 60%;
    padding: 2rem;
  }

  .about-container ul {
    columns: 1;
    margin: 1rem 0;
    font-size: .8rem;
  }

  .about-container p {
    padding: 1rem 0 0;
  }

  p.large {
    font-size: 16px;
  }

  .about-quote {
    font-size: .75rem;
  }

  .about-background {
    content: url("portrait-keyboard.17992a10.jpg");
    max-width: 100vw;
    width: 100%;
  }
}

.footer-container {
  width: 100vw;
  background-color: #4e567e;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2.5rem;
  padding: 5rem 0 3rem;
  display: flex;
}

.social-icons {
  justify-content: center;
  align-items: center;
  gap: 2.5rem;
  display: flex;
}

@media screen and (max-width: 600px) {
  .social-icons {
    max-width: 800px;
    flex-wrap: wrap;
  }

  .footer-container {
    height: 15px;
    gap: 1rem;
  }

  img.socialIcon {
    height: 20px;
    width: 20px;
  }
}

.nav-bar {
  text-align: justify;
  width: 100%;
  z-index: 10;
  background: #ffffffbf;
  justify-content: center;
  gap: 2rem;
  padding: 1rem;
  display: flex;
  position: fixed;
  top: 0;
}

@media screen and (max-width: 600px) {
  .nav-bar {
    max-width: 100vw;
    width: 100%;
    text-align: center;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    padding: .8rem;
  }

  .nav-bar a {
    font-size: .75rem;
  }
}

.name-title {
  width: 40rem;
  text-align: center;
  position: absolute;
  top: 15rem;
  left: 2rem;
}

.arrow-down {
  position: absolute;
  bottom: 3rem;
  left: 48%;
}

@media screen and (max-width: 600px) {
  .home-background {
    width: 100%;
    height: auto;
    max-width: 100vw;
    content: url("portrait-girl-2.e5acd229.jpg");
  }

  .name-title {
    width: auto;
    text-align: left;
    position: absolute;
    top: 24rem;
    left: 1rem;
  }

  .name-title h1 {
    margin-bottom: -1rem;
    font-size: 3rem;
  }

  .name-title h2 {
    text-align: center;
    margin-top: .5rem;
    font-size: 1rem;
  }

  .bounce {
    height: 2rem;
    width: 2rem;
  }

  .arrow-down {
    position: absolute;
    bottom: 2rem;
    left: 45.9%;
  }
}

@media screen and (max-width: 600px) {
  .container {
    width: 100%;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin-top: 0;
    display: flex;
  }

  .box {
    width: 65%;
  }
}

.form-label {
  color: #162871;
  margin-bottom: 10px;
  font-family: apple-system, BlinkMacSystemFont, Arial, sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 540;
  display: block;
}

.form-input, .form-textarea {
  width: 100%;
  height: auto;
  box-sizing: border-box;
  border: 1px solid #bfd1ff;
  border-radius: 3px;
  margin-bottom: 20px;
  padding: 5px;
  font-family: Arial, sans-serif;
  font-size: 16px;
}

.form-input:focus, .form-textarea:focus {
  border-color: #bfd1ff;
  outline: #5988ff;
  box-shadow: 0 0 5px #bfd1ff;
}

.form-submit {
  color: #fff;
  cursor: pointer;
  width: 100%;
  text-align: center;
  box-sizing: border-box;
  background-color: #5988ff;
  border: none;
  border-radius: 24px;
  padding: 10px 20px;
  font-family: apple-system, BlinkMacSystemFont, Arial, sans-serif;
  font-size: 15px;
}

.form-container {
  max-width: 400px;
  max-height: 500px;
  border: 1px solid #fff;
  border-radius: 5px;
  margin: 40px auto;
  padding: 30px;
  box-shadow: 0 0 10px #0000002e;
}

.form-required {
  color: red;
  margin-left: 5px;
}

@media screen and (max-width: 600px) {
  .form-container {
    max-width: 60%;
    max-height: none;
  }

  .form-label {
    font-size: 15px;
  }

  .form-input, .form-textarea {
    width: 100%;
    height: auto;
    margin-bottom: 15px;
    padding: 5px;
    font-family: Arial, sans-serif;
    font-size: 14px;
  }

  .form-submit {
    font-size: 13px;
  }
}

/*# sourceMappingURL=index.4d663569.css.map */
