.form-label {
    display: block;
    margin-bottom: 10px;
    font-size: 18px;
    font-family: "apple-system", "BlinkMacSystemFont", Arial, sans-serif;
    font-style: normal;
    font-weight: 540;
    color: #162871;
  }

  .form-input, .form-textarea {
    width: 100%;
    height: auto;
    padding: 5px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 3px;
    font-size: 16px;
    font-family: Arial, sans-serif;
    border-color: #bfd1ff;
    box-sizing: border-box;
  }

  .form-input:focus, .form-textarea:focus {
    border-color: #bfd1ff;
    outline: #5988ff;
    box-shadow: 0 0 5px #bfd1ff;
  }
  
  .form-submit {
    background-color: #5988ff;
    color: white;
    /* padding: auto; */
    padding: 10px 20px;
    border: none;
    border-radius: 24px;
    cursor: pointer;
    font-size: 15px;
    font-family: "apple-system", "BlinkMacSystemFont", Arial, sans-serif;
    width: 100%;
    text-align: center;
    /* margin-top: 10px; */
    /* margin-bottom: 20px; */
    box-sizing: border-box;
  }

  .form-container {
    padding: 30px 30px 30px 30px;
    border-style: solid;
    border: 2px solid #ccc;
    border-radius: 5px 5px 5px 5px;
    border-color: white;
    border-width: 1px 1px 1px 1px;
    box-shadow: 0 0 10px 0px rgba(0, 0, 0, 0.18);
    margin: 40px auto;
    max-width: 400px;
    max-height: 500px;
  }

  .form-required {
    color: red;
    margin-left: 5px;
  }

  /* responsive styles */
@media screen and (max-width: 600px) {
  .form-container {
    max-width: 75%;
    max-height: none;
  }

  .form-label {
    font-size: 16px;
  }

  .form-input, .form-textarea {
    width: 100%;
    height: auto;
    padding: 7px;
    margin-bottom: 15px;
    font-size: 15px;
    font-family: Arial, sans-serif;
  }

  .form-submit {
    font-size: 14px;
  }

}