

.name-title {
    position: absolute;
    top: 15rem;
    left: 2rem;
    width: 40rem;
    text-align: center;
}

.arrow-down {
    position: absolute;
    bottom: 3rem;
    /* justify-content: center; */
    left: 48%;
    /* transform: translateX(-50%); */
}

/* responsive styles */
@media screen and (max-width: 600px) {
    .home-background {
        width: 100%;
        height: auto;
        max-width: 100vw;
        content: url("../images/portrait-girl-2.jpg");
      }

    .name-title {
        position: absolute;
        top: 24rem;
        left: 1rem;
        width: auto;
        text-align: left;
    }

    .name-title h1 {
        font-size: 3rem;
        margin-bottom: -1rem;
    }

    .name-title h2 {
        font-size: 1rem;
        margin-top: 0.5rem;
        text-align: center;
    }

    .bounce {
        height: 2rem;
        width: 2rem;
    }
    
    .arrow-down {
        position: absolute;
        bottom: 4rem; /* fix button down position */
        /* left: 50%; */
        left: 45.9%;
        /* transform: translateX(-50%); */
        /* top: -5rem; remove the top property */
    }
}